body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin:0;
    padding: 0;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    display: flex;
    flex-direction: column;
}
input{
    margin-bottom: 15px;
    padding:10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color:whitesmoke;
}
button
{
    color:bold orangered;
    background-color:aqua;
    padding:10px;
    border-radius: 7px;
    font-style: italic;
}
.card{
    background-color:white;
    border-radius:8px;
    padding: 30px;
    width:300px;
}
h2
{
    text-align: center;
    margin-bottom: 20px;
}
button:hover
{
    background-color:green;
    cursor:pointer;
}